.App {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.PreviewBox {
  padding: 0.5em 0.25em;
  border: 1px solid #999;
  margin: 0.5em 0;
}

.DateLabel {
  font-size: 0.8em;
  color: #666;
}